.prof__profile {
    width: 90vw;
    padding: 0px 20px;
    &__heading {
        @include flex (row);
        flex-wrap: wrap;
        margin-bottom: 20px;
        .profile__title {
            width: 300px;
            font-size: $largeTitle;
        }
        .profile__dropdown {
            padding: 0 20px;
            height: 30px;
            border-radius: 50px;
            border: 1px solid rgba(0, 0, 0, 0.425);
            outline: none;
            background-color: transparent;
        }
    }
    &__body {
        .profile__avatar {
            @include flex-jc-ai (row , space-between , center);
            .avatar {
                @include flex-jc-ai (row , space-between , center);
                &__img {}
                &__name {}
            }
            &__time {}
            &__amount {}
            &__more {}
        }
    }
}