// mobile view
.status_bar {
    @include flex-jc-ai(row , start , center);
    flex-wrap: wrap;
    padding: 15px;
    &__title {
        padding-right: 20px;
        font-size: $largeTitle;
        font-weight: $fontSemiBold;
    }
    &__search {
        width: 300px;
        height: 45px;
        padding: 10px;
        border-radius: 50px;
        border: none;
        background-color: $cardBackground;
    }
    .notification__wrap {
        @include flex-jc-ai(row , start , center);
        margin: 15px 0 15px auto;
        .status_bar__add {
            margin: 0 20px;
            padding: 5px 10px;
            border-radius: 50%;
            background-color: $black;
            color: $white;
        }
        .status_bar__dropdown {
            position: relative;
            .dropdown__btn {
                background-color: transparent;
                font-size: $semiLarge;
            }
            .dropdown__content {
                position: absolute;
                top: 50px;
                left: -15px;
                display: none;
                text-align: center;
                border-radius: 10px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
                background-color: $cardBackground;
                .dropdown__list {
                    width: 150px;
                    .dropdown__item {
                        position: relative;
                        &:first-child {
                            &::before {
                                content: '';
                                position: absolute;
                                top: -14px;
                                left: 16px;
                                display: block;
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 15px solid $cardBackground;
                            }
                        }
                        .dropdown__link {
                            display: block;
                            padding: 10px 0;
                            font-size: 15px;
                            color: $black;
                            &:hover {
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }
        .status_bar__avatar {
            @include flex-jc-ai(row , space-between , center);
            margin-left: auto;
            margin: 0 20px;
            .avatar {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            .avatar__title {
                font-size: $regular;
            }
        }
    }
}

// tablet view
// same measures

// laptop view
@media (min-width: 900px) {
    .status_bar {
        @include flex-jc-ai(row , start , center);
        flex-wrap: wrap;
        width: 92vw;
        padding: 20px;
    }
}

// desktop view
// same measures