// color
$white: #FFFFFF;
$black: #000000;
$liteBlack: #000000cc;
$background: #EEF1F6;
$cardBackground: #F4F7FC;
$sideCardBackground: #F2F5FA;

// font weight
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;

// font size
$largeTitle: 30px;
$semiLarge: 25px;