*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

@media (min-width: 900px) {
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main {
  width: 100vw;
  margin-top: 50px;
  padding: 20px;
}

@media (min-width: 900px) {
  .main {
    width: 92vw;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 92vw;
    margin-top: 0;
  }
}

.container__grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'profile' 'schedule' 'side';
  grid-gap: 20px;
}

.prof__profile {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: profile;
}

.schedule {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: schedule;
}

.side__card {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: side;
}

@media (min-width: 600px) {
  .container__grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'profile profile' 'profile profile' 'schedule schedule' 'schedule schedule' 'side side' 'side side';
    grid-gap: 20px;
  }
  .prof__profile {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: profile;
  }
  .schedule {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: schedule;
  }
  .side__card {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: side;
  }
}

@media (min-width: 900px) {
  .container__grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'profile profile side' 'profile profile side' 'schedule schedule side' 'schedule schedule side';
    grid-gap: 20px;
  }
  .prof__profile {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: profile;
  }
  .schedule {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: schedule;
  }
  .side__card {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 3;
    grid-area: side;
  }
}

@media (min-width: 1200px) {
  .container__grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'profile profile side' 'profile profile side' 'schedule schedule side' 'schedule schedule side';
    grid-gap: 20px;
  }
  .prof__profile {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: profile;
  }
  .schedule {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: schedule;
  }
  .side__card {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 3;
    grid-area: side;
  }
}

.sidebar {
  background-color: #000000cc;
}

.sidebar__toggler__btn {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 30px;
}

.sidebar__toggler {
  display: none;
}

.sidebar__toggler:checked ~ .sidebar__nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sidebar__nav {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: #000000cc;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.sidebar__nav .nav__list .nav__item {
  text-align: center;
  padding: 30px 0;
}

.sidebar__nav .nav__list .nav__item .nav__link {
  color: #FFFFFF;
  font-size: 35px;
}

@media (min-width: 600px) {
  .sidebar__toggler:checked ~ .sidebar__nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .sidebar__nav {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
}

@media (min-width: 900px) {
  .sidebar {
    background-color: #EEF1F6;
  }
  .sidebar__toggler__btn {
    display: none;
  }
  .sidebar__toggler:checked ~ .sidebar__nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .sidebar__nav {
    position: static;
    width: 8vw;
    height: 100vh;
    margin-top: 100px;
    background-color: #EEF1F6;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .sidebar__nav .nav__list .nav__item {
    text-align: center;
    padding: 15px 0;
  }
  .sidebar__nav .nav__list .nav__item .nav__link {
    color: #000000;
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    background-color: #EEF1F6;
  }
  .sidebar__toggler__btn {
    display: none;
  }
  .sidebar__toggler:checked ~ .sidebar__nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .sidebar__nav {
    position: static;
    width: 8vw;
    height: 100vh;
    margin-top: 100px;
    background-color: #EEF1F6;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .sidebar__nav .nav__list .nav__item {
    text-align: center;
    padding: 15px 0;
  }
  .sidebar__nav .nav__list .nav__item .nav__link {
    color: #000000;
    font-size: 25px;
  }
}

.status_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}

.status_bar__title {
  padding-right: 20px;
  font-size: 30px;
  font-weight: 600;
}

.status_bar__search {
  width: 300px;
  height: 45px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background-color: #F4F7FC;
}

.status_bar .notification__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 0 15px auto;
}

.status_bar .notification__wrap .status_bar__add {
  margin: 0 20px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #000000;
  color: #FFFFFF;
}

.status_bar .notification__wrap .status_bar__dropdown {
  position: relative;
}

.status_bar .notification__wrap .status_bar__dropdown .dropdown__btn {
  background-color: transparent;
  font-size: 25px;
}

.status_bar .notification__wrap .status_bar__dropdown .dropdown__content {
  position: absolute;
  top: 50px;
  left: -15px;
  display: none;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.432);
  background-color: #F4F7FC;
}

.status_bar .notification__wrap .status_bar__dropdown .dropdown__content .dropdown__list {
  width: 150px;
}

.status_bar .notification__wrap .status_bar__dropdown .dropdown__content .dropdown__list .dropdown__item {
  position: relative;
}

.status_bar .notification__wrap .status_bar__dropdown .dropdown__content .dropdown__list .dropdown__item:first-child::before {
  content: '';
  position: absolute;
  top: -14px;
  left: 16px;
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #F4F7FC;
}

.status_bar .notification__wrap .status_bar__dropdown .dropdown__content .dropdown__list .dropdown__item .dropdown__link {
  display: block;
  padding: 10px 0;
  font-size: 15px;
  color: #000000;
}

.status_bar .notification__wrap .status_bar__dropdown .dropdown__content .dropdown__list .dropdown__item .dropdown__link:hover {
  background-color: #FFFFFF;
}

.status_bar .notification__wrap .status_bar__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto;
  margin: 0 20px;
}

.status_bar .notification__wrap .status_bar__avatar .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.status_bar .notification__wrap .status_bar__avatar .avatar__title {
  font-size: 20px;
}

@media (min-width: 900px) {
  .status_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 92vw;
    padding: 20px;
  }
}

.prof__profile {
  width: 90vw;
  padding: 0px 20px;
}

.prof__profile__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.prof__profile__heading .profile__title {
  width: 300px;
  font-size: 30px;
}

.prof__profile__heading .profile__dropdown {
  padding: 0 20px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.425);
  outline: none;
  background-color: transparent;
}

.prof__profile__body .profile__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}

.prof__profile__body .profile__avatar .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 140px;
}

.prof__profile__body .profile__avatar .avatar__img {
  width: 45px;
  height: 45px;
}

.prof__profile__body .profile__avatar .avatar__name {
  font-size: 15px;
  width: 80px;
}

.prof__profile__body .profile__avatar__time {
  display: none;
}

.prof__profile__body .profile__avatar__amount {
  color: rgba(0, 0, 0, 0.527);
  font-weight: 500;
}

.prof__profile__body .profile__avatar__more {
  font-size: 20px;
  color: #000000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (min-width: 600px) {
  .prof__profile {
    width: 90vw;
    padding: 0px 20px;
  }
  .prof__profile__body .profile__avatar__time {
    display: block;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.527);
    font-weight: 500;
  }
  .prof__profile__body .profile__avatar__amount {
    color: rgba(0, 0, 0, 0.527);
    font-weight: 500;
  }
  .prof__profile__body .profile__avatar__more {
    font-size: 20px;
    color: #000000;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (min-width: 900px) {
  .prof__profile {
    width: 55vw;
    height: 45vh;
    padding: 0px 20px;
  }
  .prof__profile__body .profile__avatar__time {
    display: block;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.527);
    font-weight: 500;
  }
  .prof__profile__body .profile__avatar__amount {
    color: rgba(0, 0, 0, 0.527);
    font-weight: 500;
  }
  .prof__profile__body .profile__avatar__more {
    font-size: 20px;
    color: #000000;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (min-width: 1200px) {
  .prof__profile {
    width: 55vw;
    padding: 0px 20px;
  }
  .prof__profile__body .profile__avatar__time {
    display: block;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.527);
    font-weight: 500;
  }
  .prof__profile__body .profile__avatar__amount {
    color: rgba(0, 0, 0, 0.527);
    font-weight: 500;
  }
  .prof__profile__body .profile__avatar__more {
    font-size: 20px;
    color: #000000;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.schedule__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90vw;
  margin-bottom: 20px;
}

.schedule__bar__title {
  font-size: 30px;
}

.schedule__bar__time {
  display: none;
  margin-left: auto;
  padding: 0 10px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.527);
}

.schedule__bar__dropdown {
  margin-left: auto;
  height: 35px;
  padding: 0 10px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 50px;
}

.schedule__body__card {
  width: 80vw;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  background-color: #F4F7FC;
}

.schedule__body__card .card__img {
  width: 70px;
  height: 70px;
  margin: 20px 0;
}

.schedule__body__card .card__body__title {
  font-size: 20px;
}

.schedule__body__card .card__body__text {
  width: 150px;
  margin: auto;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.527);
}

.schedule__body__card .card__body__btn {
  margin: 30px auto;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: #000000;
  color: #FFFFFF;
}

.schedule__body__mini__card .mini__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80vw;
  margin: 30px auto;
  border: 1px solid rgba(0, 0, 0, 0.527);
  border-radius: 30px;
}

.schedule__body__mini__card .mini__card__date {
  padding: 30px;
  font-weight: 600;
  font-size: 30px;
}

.schedule__body__period .period__time {
  display: none;
  font-size: 13px;
}

@media (min-width: 600px) {
  .schedule__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90vw;
    margin-bottom: 20px;
  }
  .schedule__bar__time {
    display: block;
    margin-left: auto;
  }
  .schedule__bar__dropdown {
    margin-left: 10px;
  }
  .schedule__body__card .card__img {
    width: 120px;
    height: 120px;
    margin: 20px 0;
  }
  .schedule__body__card .card__body__text {
    width: 30vw;
    margin: auto;
  }
}

@media (min-width: 900px) {
  .schedule {
    width: 55vw;
  }
  .schedule__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 55vw;
    margin-bottom: 20px;
  }
  .schedule__bar__title {
    font-size: 30px;
  }
  .schedule__bar__time {
    display: block;
    margin-left: auto;
    padding: 0 10px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.527);
  }
  .schedule__bar__dropdown {
    margin-left: 10px;
    height: 35px;
    padding: 0 10px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 50px;
  }
  .schedule__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 55vw;
  }
  .schedule__body__card {
    width: 20vw;
    margin: 0;
    text-align: center;
    border-radius: 20px;
    background-color: #F4F7FC;
  }
  .schedule__body__card .card__body__text {
    width: 150px;
    margin: auto;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.527);
  }
  .schedule__body__mini__card .mini__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 20vw;
    margin: 20px auto;
    border: 1px solid rgba(0, 0, 0, 0.527);
    border-radius: 20px;
  }
  .schedule__body__mini__card .mini__card__date {
    padding: 15px;
    font-weight: 600;
    font-size: 30px;
  }
  .schedule__body__period .period__time {
    display: block;
    padding: 35px 0;
    color: rgba(0, 0, 0, 0.527);
  }
}

.side__card {
  width: 90vw;
  padding: 10px 20px;
  border-radius: 35px;
  background-color: #F2F5FA;
}

.side__card__title {
  font-size: 30px;
}

.side__card .course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
}

.side__card .course__img {
  width: 45px;
  height: 45px;
}

.side__card .course__content {
  margin-left: 20px;
}

.side__card .course__content .course__title {
  font-size: 15px;
}

.side__card .course__content .course__sub__title {
  color: rgba(0, 0, 0, 0.527);
}

.side__card .course__menu {
  margin-left: auto;
  color: #000000;
}

.side__card__progress .progress__title {
  margin: 30px 0;
}

.side__card__progress .circular {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  background-color: #000000;
}

.side__card__progress .circular .inner {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 120px;
  height: 120px;
  padding-top: 35px;
  font-size: 35px;
  font-weight: 600;
  font-family: "JetBrains Mono", monospace;
  border-radius: 50%;
  text-align: center;
  background-color: #F2F5FA;
}

.side__card__progress .progress__bar__title {
  font-weight: 400;
}

.side__card__progress .progress__bar .progress {
  width: 100%;
  height: 8px;
  margin: 20px 0;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.164);
}

.side__card__progress .progress__bar .progress::before {
  content: '';
  display: block;
  width: 70%;
  height: 8px;
  border-radius: 20px;
  background-color: black;
}

@media (min-width: 900px) {
  .side__card {
    width: 25vw;
    padding: 10px 20px;
    border-radius: 35px;
    background-color: #F2F5FA;
  }
}
/*# sourceMappingURL=style.css.map */